<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
</head>
<body>
    <h1>Task Tracker</h1>
    <form action="/add" method="post">
        <input type="text" name="task" required>
        <button type="submit">Add Task</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task }}
                <a href="{{ url_for('delete_task', index=loop.index0) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
